streamlit==1.40.0
streamlit-option-menu==0.3.6
streamlit-extras==0.4.2

pandas==2.2.2
numpy==1.26.4

scikit-learn==1.5.1
nltk==3.8.1

requests==2.32.3

python-dotenv==1.0.1
altair==5.3.0

# For handling ast safely
astunparse==1.6.3
protobuf==4.25.3
cachetools==5.3.1